* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: #dae6e9;
}

.container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 0.2fr 2fr 0.2fr;
  overflow-y: hidden;
  padding: 1rem 2rem;
}

.container-logo{
  display: flex;
  justify-content: center;
  justify-items: start;
  align-content: start;
  align-items: start;
}

.botoes {
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 2rem;
}

.comecar, .adicionar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #17a2b8;
  color: #fff;
  border-radius: 25px;
  text-transform: capitalize;
  cursor: pointer;
  width: 240px;
  height: 100px;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #fff;
  border-radius: 25px;
}
  
.botoes :hover {
  background-color: #138697;
  transition: ease-in-out 0.1s;
  
}

@media (max-width: 360px) {

  .container {
    display: flex;
    flex-direction: column;
  }

  .comecar, .adicionar {
    width: 200px;
    height: 100px;
    font-size: 15px;
  }
}