* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
body {
    background-image: url(../assets/texture-bottom.jpg);
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    padding: 1rem 2rem;
}