* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-image: url(../assets/texture-bottom.jpg);
}

.container {
  min-height: 94vh;
  display: grid;
  grid-template-columns: 0.2fr 2fr 0.2fr;
  overflow-y: hidden;
  padding: 1rem 2rem;
}

.container-logo{
  display: flex;
  justify-content: center;
  justify-items: start;
  align-content: start;
  align-items: start;
}

.botoes {
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 2rem;
}

.comecar, .adicionar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #121214;
  color: #fff;
  border-radius: 25px;
  text-transform: capitalize;
  cursor: pointer;
  width: 260px;
  height: 100px;
  font-weight: bold;
  text-decoration: none;
}
  
.botoes :hover {
  background-color: #48f77f;
  transition: ease-in-out 0.1s;
  color: #121214;
}